.basicButton-primary {
	background-color: transparent;
	opacity: 1;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s ease;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5) inset;
	border: "1px solid white",
	
  }
  
  .basicButton-primary:hover {
	border: 1px solid rgba(0, 0, 0, 1);
	/* background-color: rgb(0, 0, 0);
	/* color: white; */
	/* border: 1px solid grey; */
  }

  .basicButton-white {
	background-color: transparent;
	opacity: 1;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s ease;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5) inset;
	border: "1px solid white",
	
	
	
  }
  
  .basicButton-white:hover {
	border: 1px solid rgba(0, 0, 0, 1);
	/* background-color: rgb(0, 0, 0);
	/* color: white; */
	/* border: 1px solid grey; */
  }