.btn {
	background-color: transparent;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 1.8125rem;
	font-family: 'Rubik', sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-size: 1rem;
	padding: 0.9rem;
	margin: 0.3rem;
	border: solid #ffffff 1px;
	text-decoration: none;
	min-width: max-content;
  }
  
  .btn:hover {
	border: solid #f0f0f0 1px;
	color: #f0f0f0;
	text-decoration: none;
  }