* {
  font-family: "Outfit";
}

.card {
  box-sizing: border-box;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  margin: 10px;
  background: linear-gradient(
      135deg,
      rgba(5, 25, 35, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameBox {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(5, 25, 35, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 16px;
}
.text2 {
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-family: Poppins;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.800000011920929);
}
.infoBox {
  min-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;
}

.text3 {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-family: Poppins;
  line-height: 100%;
  padding: 0px 10px 0px 10px;
  color: rgba(255, 255, 255, 0.800000011920929);
}
.text4 {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-family: Poppins;
  line-height: 100%;
  padding: 0px 10px 0px 10px;
  color: rgba(255, 255, 255, 0.800000011920929);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.text5 {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  padding: 0px 10px 0px 10px;
  font-family: Poppins;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.800000011920929);
}
.buttonDark {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.25rem 1rem;
  background: linear-gradient(
    135deg,
    rgba(5, 25, 35, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.text6 {
  text-align: left;
  vertical-align: top;
  font-size: 8px;
  font-family: Poppins;
  line-height: 100%;
  color: #ffffff;
}
