.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  overflow: hidden;
  padding: 5px;
}

.container > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  text-align: center;
}
