body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  
}

html {
  height: 100%;
  /* border: 10px solid rgb(156, 54, 54); */

}

#root {
  height: 100%;
  /* border: 10px solid rgb(54, 40, 126); */
}

